.counter {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    width: 48px;
    height: 48px;
    border: 2px solid grey;
    border-radius: 8px;
    background: transparent;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    outline: none;
  }

  &__value {
    margin: 16px;
  }
}